<phpunit bootstrap="./bootstrap.php">
    <testsuite name="BatmansLibraryTestSuite">
        <directory>./library/Batman</directory>
    </testsuite>
	<filter>
        <blacklist>
            <directory>../library/Batman/_files</directory>
        </blacklist>
		<whitelist>
			<directory suffix=".php">../library/Batman</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" 
			 target="../docs/reports" 
			 charset="UTF-8"
			 yui="true"
		/>
	</logging>
</phpunit>